<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Superhéroes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Editar Superhéroes</h1>

    <% if (typeof error !== 'undefined' && error) { %>
        <div style="color: red; padding: 10px; background-color: #ffe6e6;">
            <strong>Error:</strong> <%= error %>
        </div>
    <% } %>

    <form action="/api/heroes/<%= hero._id %>/editar" method="POST">
        <label>Nombre del superhéroe:</label>
        <input type="text" name="nombreSuperHeroe" value="<%= hero.nombreSuperHeroe %>" required minlength="3" maxlength="60"><br><br>

        <label>Nombre Real:</label>
        <input type="text" name="nombreReal" value="<%= hero.nombreReal %>" required minlength="3" maxlength="60"><br><br>

        <label>Edad:</label>
        <input type="number" name="edad" value="<%= hero.edad %>" required min="0"><br><br>

        <label>Planeta de Origen:</label>
        <input type="text" name="planetaOrigen" value="<%= hero.planetaOrigen %>"><br><br>

        <label>Debilidad:</label>
        <input type="text" name="debilidad" value="<%= hero.debilidad%>"><br><br>

        <label>Poderes (Separados por coma):</label>
        <input type="text" name="poderes" value="<%= hero.poderes.join(', ') %>" required><br><br>

        <label>Aliados (separados por coma):</label>
        <input type="text" name="aliados" value="<%= hero.aliados ? hero.aliados.join(', ') : '' %>"><br><br>

        <label>Enemigos (separados por coma):</label>
        <input type="text" name="enemigos" value="<%= hero.enemigos ? hero.enemigos.join(', ') : '' %>"><br><br>

        <button type="submit">Guardar Cambios</button>
        <a href="/api/heroes" class="btn-cancelar">Cancelar</a>
    </form>
    
</body>
</html>